<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h3 class="collapsable__heading">Item</h3>
        <svg class="icon icon--white collapsible__chevron" >
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
    </header>
    <div class="collapsible__container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi rerum quod aut non reiciendis quisquam amet libero totam dolores laudantium.</div>
</div>
<script src="js/main.js"></script>