<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/exersize1Styles.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
    <div class="container">

        <table>
            <thead>
                <tr>
                 <td>Country</td>
                 <td>OrderID</td>
                 <td>OrderAmount</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>USA</td>
                    <td>1000</td>
                    <td>$1,300</td>
                </tr>
                <tr>
                 <td>USA</td>
                 <td>1001</td>
                 <td>$700</td>
             </tr>
             <tr>
                 <td>CA</td>
                 <td>1002</td>
                 <td>$2,000</td>
             </tr>
             <tr>
                 <td>CA</td>
                 <td>1003</td>
                 <td>$1,000</td>
             </tr>
            </tbody>
     
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>$5,000</td>
                </tr>
            </tfoot>
        </table>
    </div>
<div class="container">
    <div id="box">
</div>
    

    </div>
</body>
</html>