<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stylesForPart2.css">
</head>
<body>
    <div class="box"></div>
    <div class="box"></div>
    <span class="spanBox"></span>
    <span class="spanBox"></span>
    <div class="pBox">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore odit et quis eius provident at. Explicabo enim numquam quasi neque, excepturi nihil autem impedit 
        voluptatem?</p>
    </div>

    <div class="boxs1">
        <div class="boxx box-one"></div>
        <div class="boxx box-two"></div>
        <div class="boxx box-three"></div>
    </div>

    <div class="boxs2">
        <div class="boxx box1"></div>
        <div class="boxx box2"></div>
        <div class="boxx box3"></div>
    </div>


    <article class="tweet">
        <div class="avatar"></div>
        <p>Lorem ipsum dolor sit amet.</p> 
        <p class="clear">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Veniam modi similique sed assumenda saepe, omnis eveniet cum perferendis 
            voluptatum officiis error ex repellat architecto quae distinctio ducimus 
            voluptatibus? In corporis commodi recusandae quod architecto ipsum error 
            dolor harum odio animi at enim reprehenderit veniam perspiciatis, inventore 
            aspernatur est! Earum aliquam quisquam necessitatibus cupiditate culpa ex, 
            voluptatem voluptatum animi totam unde quo iure libero non, sint perspiciatis 
            debitis, ipsam voluptates ratione!
        </p>    
    </article>

    <div class="container1">
        <div class="square">A</div>
        <div class="square">B</div>
        <div class="square">C</div>
        <div class="square">D</div>
        <div class="square">E</div>
        <div class="square">F</div>
        <div class="square">G</div>
        
    </div>

    <div class="container2">
        <div class="tile header">A</div>
        <div class="tile">B</div>
        <div class="tile">C</div>
        <div class="tile footer">D</div>
    </div>
    
</body>
</html>